.container {
    position: relative;
    padding: 30px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.colored {
    background: var(--semi-transparent-accent-color);
    transition: all 250ms ease-out;
}
