.plugin-container {
    position: relative;
    padding: 30px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.plugin-container__with_product {
    background: var(--light-color);
    transition: all 250ms ease-out;
}
