.product-details-container {
    flex: 1;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: repeat(5, auto) 1fr;
    grid-column-gap: 10px;
}

.product-details-image {
    grid-column: 1;
    grid-row: 1 / 5;
}

.product-details-title,
.product-details-description,
.product-details-price {
    grid-column: 2;
}

.product-details-price {
    margin-top: auto;
    grid-row: 4;
}

.product-details-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-details-clear {
    grid-row: 6;
    margin-left: auto;
    margin-top: auto;
    grid-column: 2;
}
