.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-top: 10px;
}

.products-grid__card {
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    background: var(--light-bg-color);
    cursor: pointer;
    transition: all 250ms ease-out;
}

.products-grid__card:hover {
    background: var(--light-color);
}

.products-grid__card-title {
    padding: 16px 8px 8px 8px;
}
