.search-bar__container {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
}

.search-bar__input {
    flex: 1;
}


.search-state {
    text-align: center;
    padding: 40px 0 10px 0;
    width: 100%;
}
